.footer {
    width: 100%;
    max-width: 1440px;
    height: 100px;
    background-color: rgba(255, 255, 255, 0.899);
    position: absolute;
    top: 2854px
  }
  
  .footer-text {
    width: 156.22px;
    height: 24.26px;
    position: absolute;
    top: 37.37px;
    left: 204.89px;
    color: black;
  }